Redirect 301 /products/microservices/services/geocoding/		<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/event-service/		<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/credit-rating/		<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/address-validation/	<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/currency-service/		<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/asset-tracking/		<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/sanctions-service/	<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/asset-location/		<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/peril-scoring/		<siteurl>/products/microservices/ 
Redirect 301 /products/microservices/services/asset-zone-tracking/ 	<siteurl>/products/microservices/ 

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
RewriteEngine on

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{QUERY_STRING} cat=press%20release
	RewriteRule (.*) /content/press-releases/? [R=301,L]
	RewriteCond %{QUERY_STRING} cat=blog
	RewriteRule (.*) /content/blogs/? [R=301,L]
	RewriteCond %{QUERY_STRING} cat=video
	RewriteRule (.*) /content/videos/? [R=301,L]
    RewriteCond %{QUERY_STRING} cat=download
	RewriteRule (.*) /content/insights/? [R=301,L]
    RewriteCond %{QUERY_STRING} cat=media%20article
	RewriteRule (.*) /content/media-articles/? [R=301,L]
    RewriteCond %{QUERY_STRING} cat=Insights
	RewriteRule (.*) /content/insights/? [R=301,L]
    RewriteCond %{QUERY_STRING} cat=Podcast
	RewriteRule (.*) /content/? [R=301,L]

	RewriteCond %{QUERY_STRING} cat=Press%20Release
	RewriteRule (.*) /content/press-releases/? [R=301,L]
	RewriteCond %{QUERY_STRING} cat=Blog
	RewriteRule (.*) /content/blogs/? [R=301,L]
	RewriteCond %{QUERY_STRING} cat=Video
	RewriteRule (.*) /content/videos/? [R=301,L]
    RewriteCond %{QUERY_STRING} cat=Download
	RewriteRule (.*) /content/insights/? [R=301,L]
    RewriteCond %{QUERY_STRING} cat=Media%20Article
	RewriteRule (.*) /content/media-articles/? [R=301,L]

    RewriteCond %{QUERY_STRING} prod=Aniita
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Exact
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Exact%20Max
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Microservices
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Navigator
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Score
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Survey
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Underwriting
    RewriteRule (.*) /content/? [R=301,L]
    RewriteCond %{QUERY_STRING} prod=Whitepaper
    RewriteRule (.*) /content/? [R=301,L]

    RewriteCond %{QUERY_STRING} cat=
	RewriteRule (.*) /content/? [R=301,L]
</IfModule>

### SILVERSTRIPE START ###
# Deny access to templates (but allow from localhost)
#<Files *.ss>
#    Order deny,allow
#    Deny from all
#    Allow from 127.0.0.1
#</Files>

<FilesMatch ".(otf|ttf|eot|woff)$">
SetEnvIf Origin "^http(s)?://(.+.)?(go.pardot.com|www2.advantagego.com)$" origin_is=$0
Header set Access-Control-Allow-Origin %{origin_is}e env=origin_is
</FilesMatch>

# X-XSS-Protection
#<IfModule mod_headers.c>
#Header set X-XSS-Protection "1; mode=block"
#</IfModule>

# X-Content-Type nosniff
#<IfModule mod_headers.c>
#	Header set X-Content-Type-Options nosniff
#</IfModule>

# Added by HA247 - Jake
<IfModule mod_headers.c>
        Header set Content-Security-Policy "frame-ancestors 'self' https://www.slipcase.com https://marketplace.marsh.com;"
</IfModule>

# X-Frame-Options
<IfModule mod_headers.c>
    Header always append X-Frame-Options SAMEORIGIN
	Header always append X-Frame-Options ALLOW-FROM=https://www.slipcase.com
	Header always append X-Frame-Options ALLOW-FROM=https://marketplace.marsh.com
#</IfModule>

# Deny access to IIS configuration
#<Files web.config>
#    Order deny,allow
#    Deny from all
#</Files>

# Deny access to YAML configuration files which might include sensitive information
<Files ~ "\.ya?ml$">
    Order allow,deny
    Deny from all
</Files>

# Route errors to static pages automatically generated by SilverStripe
ErrorDocument 404 /assets/error-404.html
ErrorDocument 500 /assets/error-500.html

<IfModule mod_rewrite.c>


#    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine On

    RewriteRule ^(time|underwriting-infographic|exacttrade|ecr|en-us)($|/) - [L]
    RewriteBase '/'
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^<urlprefix>\. [NC]
    RewriteCond %{HTTP_HOST} ^(?:<urlprefix>\.)?(.+)$ [NC]
    RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

    # Deny access to potentially sensitive files and folders
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule ^vendor(/|$) - [F,L,NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule ^\.env - [F,L,NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule silverstripe-cache(/|$) - [F,L,NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule composer\.(json|lock) - [F,L,NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule (error|silverstripe|debug)\.log - [F,L,NC]

    # Process through SilverStripe if no file with the requested name exists.
    # Pass through the original path as a query parameter, and retain the existing parameters.
    # Try finding framework in the vendor folder first
    RewriteCond %{REQUEST_URI} ^(.*)$
    RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteRule ^(.*[^/])$ /$1/ [L,R=301]
    RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
    RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule .* index.php
	#RewriteCond %{REQUEST_URI} !^/(en-us|en-us/.*)$
    #  RewriteRule ^(admin|user)($|/) - [L]

</IfModule>
### SILVERSTRIPE END
